
.singleFeed {
  position: relative;
  background-color: transparent;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  min-height: 100%;
  width: 100%;
  .gradient {
    background-image: url("./images/gradient-feed.png");
    background-position: left bottom;
    background-repeat: repeat-x;
    background-color: transparent;
    position: absolute;
    left: 0;
    bottom: 40px;
    height: calc(100% - 40px);
    width: 100%;
    z-index: 1;
  }
  .sfContent {
    position: relative;
    margin-top: 350px;
    padding-bottom: 45px;
    color: #fff;
    z-index: 2;
    .wrapTitle {
      position: relative;
      .currentRate {
        position: absolute;
        left: 0;
        bottom: 5px;
        display: block;
        height: 25px;
        width: 25px;
        i {
          background-color: transparent;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          display: block;
          height: 70%;
          width: 70%;

          &::before {
            content: "";
            background-color: transparent;
            background-image: url("./images/thumb.svg");
            background-size: contain;
            background-repeat: no-repeat;
            display: block;
            height: 100%;
            width: 100%;
          }
        }
        &.thumbUp {
          background-color: $colorGreenVote;
        }
        &.thumbDown {
          background-color: $colorYellowVote;
          i::before {
            transform: rotate(180deg);
          }
        }
      }
      h3 {
        margin: 0 0 0 35px;
        font-size: 35px;
        line-height: 35px;
      }
    }

    .wrapInformation {
      margin-left: 35px;
      color: #fff;
      .wrapVoteAction {
        &.thankYou {
          .btnVoteNow {
            margin-left: 0;
          }
        }
      }
    }
  }

  .resultsVoting {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    .barThumb {
      float: left;
      height: 100%;
      overflow: hidden;
      &.barThumbUp {
        float: left;
        background-color: $colorGreenVote;
      }
      &.barThumbDown {
        float: right;
        background-color: $colorYellowVote;
      }
    }
  }
}
