$colorYellowVote: rgba(255, 173, 29, 0.9);
$colorGreenVote: rgba(28, 187, 180, 0.9);
$primary-font: "Lato";

$valContainerXl: 1140px;
$valContainerMd: 960px;
$valContainerSm: 750px;
$valContainerXs: 540px;

$mg: 15px;

@mixin bgImage(
  $size: cover,
  $position: center,
  $color: transparent,
  $repeat: no-repeat
) {
  background-color: $color;
  background-position: $position;
  background-repeat: $repeat;
  background-size: $size;
}

@mixin breakPointMinXl {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

@mixin breakPointXl {
  @media only screen and (max-width: 1199px) {
    @content;
  }
}

@mixin breakPointMd {
  @media only screen and (max-width: 991px) {
    @content;
  }
}

@mixin breakPointSm {
  @media only screen and (max-width: 767px) {
    @content;
  }
}

@mixin breakPointXs {
  @media only screen and (max-width: 575px) {
    @content;
  }
}
