.btnVoteNow {
  margin-left: 10px;
  float: left;
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 35px;
  padding: 0 15px;
  box-sizing: border-box;
}
