header {
    .wrap-logo {
        margin-top: 30px;
        h1 {
            margin: 0;
            font-size: 32px;
            line-height: 38px;
            color: #ffffff;
            font-family: "Lato";
            font-weight: 400;

            a {
                color: #fff;
                text-decoration: none;
                font-weight: 600;
            }
        }
    }
    .bg {
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bg-pope {
        background-image: url('../../images/bg-pope.png');
        background-position: center bottom;
        height: 600px;
        .gradient {
            position: absolute;
            left: 0;
            top: 0;
            background-image: url('../../images/gradient-header.png');
            background-position: left top;
            background-repeat: repeat-x;
            background-color: transparent;
            height: 200px;
            width: 100%;
        }
    }
}